<%= render 'shared/header' %>

<div class="top-page-main">
  <div class="page-title">
    <h1>新規投稿記事一覧</h1>
  </div>
  <div class="top-page-index">
    <%= render partial: 'shared/article_contents', locals: {articles: @articles} %>
  </div>

  <%= link_to new_article_path do %>
  <div class="article-new-btn">
  <%= image_tag "article_new.png", class: "article-new-img", alt: "article-new-image" %>
  <p class="article-new-text">New Article</p>
  </div>
  <% end %>
</div>