<%= render 'shared/header' %>

<div class="page-title">
  <h1>検索結果</h1>
</div>

<div class="contents row">
  <% if @articles.length != 0 %>
    <h1 class="search-result"><%= @articles.length %>件ヒットしました。</h1>
    <%= render partial: 'shared/article_contents', locals: {articles: @articles} %>
  <% else %>
    <h1 class="search-result">検索結果が見つかりませんでした</h1>
  <% end %>
</div>