<footer>
  <div class='footer-left'>
    <ul class="footer-list">
      <li class="footer-title">PosticleAppについて</li>
      <li>会社概要（運営会社）</li>
      <li>採用情報</li>
      <li>公式ブログ</li>
    </ul>
  </div>

  <div class='footer-center'>
    <ul class="footer-list">
      <li class="footer-title">プライバシーと利用規約</li>
      <li>プライバシーポリシー</li>
      <li>利用規約</li>
      <li>コンプライアンスポリシー</li>
    </ul>
  </div>

  <div class='footer-right'>
    <ul class="footer-list">
      <li><%= image_tag "https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class: "app-link" %></li>
      <li><%= image_tag "dl-android.png", class: "app-link" %></li>
      <i class="fab fa-twitter-square footer-icon"></i>
      <i class="fab fa-facebook-square footer-icon"></i>
      <i class="fab fa-line footer-icon"></i>
    </ul>
  </div>
</footer>