<header class='top-page-header'>
  <div class='header-left'>
    <h1 class="header-logo">PosticleApp</h1>
  </div>
  <div class='header-right'>
    <ul class='header-right-list'>
      <li>ログイン</li>
      <li>新規登録</li>
    </ul>
  </div>
</header>