.top-page-header {
  height: 90px;
  width: 100vw;
  background-color: #191970;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#img-menu-icon {
  height: 50px;
  padding: 0 20px;
}

.header-logo {
  color: white;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Londrina Shadow', cursive;
}

.header-right-lists {
  display: flex;
}

.header-right-list {
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding-right: 20px;
}

.search-input {
  width: 500px;
  height: 50px;
  border-radius: 30px;
  padding-left: 10px;
}

.search-btn {
  width: 100px;
  height: 50px;
  border-radius: 30px;
}
