.second-header {
  height: 90px;
  width: 100vw;
  background-color: #191970;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.second-header-center{
  display: flex;
  align-items: center;
}

@media (max-width: 1024px) {
  .second-header {
    height: 70px;
  }
}