// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-page-index {
  width: 100vw;
}
// index.html.erbの記事一覧
.article-new-btn {
  height: 130px;
  width: 130px;
  position: fixed;
  top: 125px;
  right: 40px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  opacity: 0.8;
}

.article-new-text {
  font-size: 23px;
  position: fixed;
  top: 130px;
  right: 55px;
  font-family: 'Londrina Shadow', cursive;
  font-weight: bold;
  color: rgb(58, 171, 210);

}

.article-new-img {
  height: 100px;
  position: fixed;
  top: 150px;
  right: 50px;
}

// new.html.erbの新規記事投稿画面
.img-select-btn {
  height: 130px;
  width: 130px;
  position: fixed;
  top: 100px;
  right: 10px;
  border-radius: 10px;
  background-color: #fffaf0;
  opacity: 0.8;
}

.img-select-text {
  font-size: 10px;
  position: fixed;
  top: 105px;
  right: 15px;
  font-weight: bold;
  color: rgb(58, 171, 210);

}

.img-select-icon {
  height: 100px;
  position: fixed;
  top: 125px;
  right: 25px;
}

.article-new-form {
  width: 80vw;
  margin: 0 auto;
}

.new-article-title p{
  font-size: 25px;
}

.input-article-title {
  width: 100%;
  padding: 0 5px;
}

.new-article-category p{
  font-size: 25px;
}

.new-article-text p{
  font-size: 25px;
}

.input-article-text {
  width: 100%;
  padding: 0 5px;
}

.article-submit {
  border: 1px solid red;
}

.submit-article-btn {
  width: 80vw;
  background-color: #4169e1;
  height: 50px;
  position: fixed;
  bottom: 20px;
  left: 10vw;
  opacity: 0.8;
  font-weight: bold;
  border: none;
  font-size: 20px;
  color: white;
}

// 記事詳細表示画面
.user-edit-img {
  height: 70px;
  position: fixed;
  top: 100px;
  right: 20px;
}

.user-delete-img {
  height: 70px;
  position: fixed;
  top: 200px;
  right: 20px;
}


.user-good-img {
  height: 70px;
  position: fixed;
  top: 200px;
  right: 20px;
}

.user-bad-img {
  height: 70px;
  position: fixed;
  top: 300px;
  right: 20px;
  transform: scale(-1, 1);
}

.article-cover-img {
  background-color: gray;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-img {
  width: 100%;
}

.article-main {
  width: 70vw;
  margin: 0 auto;
}

.show-article-title {
  font-size: 30px;
  text-align: center;
}

.article-text {
  font-size: 20px;
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
  white-space: pre-wrap;
  word-wrap: break-word;
}

// 記事検索結果画面
.search-result {
  font-size: 25px;
  padding: 0 30px 10px;
}