// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-page-main {
}
// index.html.erbの記事一覧
.articles-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.article-list {
  background-color: #f5f5f5;
  border: 1px solid gray;
  border-radius: 5px;
  overflow: hidden;
  width: calc((100% - 50px) / 3);
  margin-bottom: 10px;
}

.article-image {
  width: 100%;
}

.article-new-btn {
  height: 130px;
  width: 130px;
  position: fixed;
  bottom: 40px;
  left: 30px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  opacity: 0.8;
}

.article-new-text {
  font-size: 23px;
  position: fixed;
  bottom: 138px;
  left: 45px;
  font-family: 'Londrina Shadow', cursive;
  font-weight: bold;
  color: rgb(58, 171, 210);

}

.article-new-img {
  height: 100px;
  position: fixed;
  bottom: 40px;
  left: 50px;
}

// new.html.erbの新規記事投稿画面

.article-new-form {
  width: 80vw;
  margin: 0 auto;
}
.input-article-title {
  width: 100%;
  padding: 0 5px;
}
.input-article-text {
  width: 100%;
  padding: 0 5px;
}

.article-submit {
  border: 1px solid red;
}

.submit-article-btn {
  width: 80vw;
  background-color: #4169e1;
  height: 50px;
  position: fixed;
  bottom: 20px;
  left: 10vw;
  opacity: 0.8;
  font-weight: bold;
  border: none;
  font-size: 20px;
  color: white;
}