.user-form-contents {
  margin: 0 auto;
  padding: 30px 50px;
  width: 70vw;
  background-color: whitesmoke;
}

.users-form {
  text-align: center;
}

.input-field {
  height: 30px;
  width: 300px;
  margin-bottom: 20px;
}

.action-btn {
  color: white;
  background-color: #4169e1;
  height: 50px;
  width: 300px;
  margin: 20px 0;
}

.error-alert {
  margin-bottom: 20px;
}
.error-message {
  color: red;
  text-align: center;
}